<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.6.1" targetFramework="sl40-wp71" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="sl40-wp71" />
  <package id="SharpSerializer" version="2.18" targetFramework="sl40-wp71" />
</packages>